<!-- ()

1. Mendapatkan insight untuk meingkatkan profit
2. Mencari strategi untuk mengurangi cost dan menghindari *future loss*
3. Melakukan pemodelan machine learning untuk memprediksi penjualan mingguan -->

# 2.1 Data Collection

The data comes from Kaggle, covering Walmart sales from 2010-2013. The dataset will be used to analyze and predict Walmart's sales patterns during the 2010-2013 post-recession period, focusing on store performance, promotions, and seasonality.

## 2.1.1 Identify Data Sources

The datasets were obtained from several Kaggle repositories, all focusing on Walmart’s sales. Below are the details of the data sources:

1. **[Walmart Sales Forecast Datasets](https://www.kaggle.com/datasets/iamprateek/wallmart-sales-forecast-datasets)**

   - Date Range: 2010-2013
   - Columns:
   
     | Name          | Description                                                    |
     |---------------|----------------------------------------------------------------|
     | Store         | Unique ID for each store                                       |
     | Date          | Date of sales record                                           |
     | Temperature   | Average temperature on the given date (°F)                     |
     | Fuel Price    | Price of fuel at the time (USD per gallon)                     |
     | MarkDown1-5   | Potential price-related factor (subject to further validation) |
     | CPI           | Consumer Price Index                                           |
     | Unemployment  | Unemployment rate in the region                                |
     | Is_Holiday    | Boolean indicator for whether the date is a holiday            |

2. **[Walmart Dataset](https://www.kaggle.com/datasets/yasserh/walmart-dataset)**

   - Date Range: 2010-2013
   - Columns:
   
     | Name          | Description                                                    |
     |---------------|----------------------------------------------------------------|
     | Store         | Unique ID for each store                                       |
     | Date          | Date of sales record                                           |
     | Weekly_Sales  | Weekly Sales based on the given date (USD)                     |
     | Holiday_Flag  | Boolean indicator for whether the date is a holiday            |
     | Temperature   | Average temperature on the given date (°F)                     |
     | Fuel Price    | Price of fuel at the time (USD per gallon)                     |
     | CPI           | Consumer Price Index                                           |

### Duplicate Datasets

- **[Walmart Dataset (Retail)](https://www.kaggle.com/datasets/rutuspatel/walmart-dataset-retail)**  
- **[Walmart Sales Dataset of 45 Stores](https://www.kaggle.com/datasets/varsharam/walmart-sales-dataset-of-45stores)**  
- **[Walmart Data Analysis and Forecasting](https://www.kaggle.com/datasets/asahu40/walmart-data-analysis-and-forcasting)**  

All three of these datasets are duplicates of the **[Walmart Dataset](https://www.kaggle.com/datasets/yasserh/walmart-dataset)**. These datasets are duplicates, likely due to multiple Kaggle users uploading the same data. Only one of these will be used for analysis to avoid redundancy.

## 2.1.2 Assess Data Structure

Each dataset has a similar core structure but with different scopes:

- **Common Columns**:
  - `Store`: Identifies the Walmart store.
  - `Date`: Represents the week of sales.
  - **Economic Factors**: `Temperature`, `Fuel Price`, `CPI`, `Unemployment` may influence sales.
  - **Holiday Indicators**: `Is_Holiday` and `Holiday_Flag` columns indicate whether sales occur during holiday periods.
  
- **Sales Indicators**:  
  - In **Dataset 1**, sales may be indirectly captured by the `MarkDown1-5` columns, potentially indicating promotions or discounts. The exact role of these columns will be analyzed during EDA.
  - In **Dataset 2**, weekly sales are explicitly captured in the `Weekly_Sales` column.

# 2.2 Data Overview

In [1]:
import pandas as pd
import numpy as np
import dtale

In [2]:
df1 = pd.read_csv("https://raw.githubusercontent.com/laiflonglearner/walmart-sales-prediction/refs/heads/main/data/external/kaggle_yasserh_walmart_dataset/Walmart.csv")

df2_features = pd.read_csv("https://raw.githubusercontent.com/laiflonglearner/walmart-sales-prediction/main/data/external/kaggle_iamprateek_walmart_sales_forecast/features.csv")
df2_stores =  pd.read_csv("https://raw.githubusercontent.com/laiflonglearner/walmart-sales-prediction/main/data/external/kaggle_iamprateek_walmart_sales_forecast/stores.csv")
df2_train = pd.read_csv("https://raw.githubusercontent.com/laiflonglearner/walmart-sales-prediction/main/data/external/kaggle_iamprateek_walmart_sales_forecast/train.csv")
df2_test =pd.read_csv("https://raw.githubusercontent.com/laiflonglearner/walmart-sales-prediction/main/data/external/kaggle_iamprateek_walmart_sales_forecast/test.csv")

## 2.2.1 First Dataset

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [4]:
df1.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [5]:
dtale.show(df1)

## 2.2.2 Second Dataset

In [6]:
df2_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [7]:
df2_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [8]:
df2_train_test = {"Train Dataset": df2_train, "Test Dataset": df2_test}

for name, df in df2_train_test.items():
    print(f"--- {name} ---")
    df.info()
    print("\n")

--- Train Dataset ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB


--- Test Dataset ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Store      115064 non-null  int64
 1   Dept       115064 non-null  int64
 2   Date       115064 non-null  object
 3   IsHoliday  115064 non-null  bool
dtypes: bool(1), int64(2), object(1)
memory usage: 2.7+ MB

In [9]:
dtale.show(df2_features)

In [10]:
dtale.show(df2_stores)

In [11]:
dtale.show(df2_train)

In [12]:
dtale.show(df2_test)